// COLORS
$primary-color: #FF9500;
$secondary-color: #FF9500;

$white-color: #F05E80;

$dark-grey: #FF5300;

$dark-blue-text: #ffca00; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
